.popup__order {
    display: none;    
}

//order__completed

.order__background {
    background-color: rgba(102, 102, 102, 0.7);
    position: absolute; 
    //width: 100vh;
    
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; 
    &_active {
        display: flex;
    }
}

.order__completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    //position: absolute;
    height: 176px;
    width: 309px;
}
