.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color {
        color: #fff;
    }

}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
   /* margin-bottom: 60px;*/
    text-align: center;
    color: #292929;
}

.section__title--white {
    color: #fff;
    margin-bottom: rem(0px);
}
